html {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font-style: sans-serif;
}

#body {
	width: 100%;
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
   background:url(bj1.jpeg);  
    background-size:100% 100%;
}
#nav_ul li{
	font-size: 18px;
    color:red;
	font-weight:bold;
	margin: 10px 10px 0 10px;
}
#nav_ul li a{
    color:#9C9676;
}

a:link{
text-decoration:none;
}
a:visited{
text-decoration:none;
}
a:hover{
text-decoration:none;
}
a:active{
text-decoration:none;
}
#centrer {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width: 500px;
	height: 300px;
}
#login_centrer {
	padding:10px;
	width: 320px;
	height: 180px;
	background:url(bj1.jpeg) no-repeat;
}
#register_centrer{
	padding:10px;
	width: 320px;
	height: 200px;
	background:url(bj1.jpeg) no-repeat;
}
#datagrid{
	overflow:auto;
	}
#menuOrder_centrer{
	padding:10px;
	background-color: #AFEEEE;
	overflow:auto;
/* 	background:url(bj1.jpeg) no-repeat; */
}
#books{
	position: absolute;
	top: 10%;
	left: 40%;
}
#centrer h1 {
	color: #2D2D3F;
	text-shadow: 0 0 10px;
	letter-spacing: 1px;
	text-align: center;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

#loginForm input {
	width: 285px;
	height: 25px;
	margin-bottom: 5px;
	outline: none;
	padding: 2px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px;
	border-top: 1px solid #312E3D;
	border-left: 1px solid #312E3D;
	border-right: 1px solid #312E3D;
	border-bottom: 1px solid #56536A;
	border-radius: 4px;
	background-color: #2D2D3F;
}
#regForm input {
	width: 285px;
	height: 25px;
	margin-bottom: 5px;
	outline: none;
	padding: 2px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px;
	border-top: 1px solid #312E3D;
	border-left: 1px solid #312E3D;
	border-right: 1px solid #312E3D;
	border-bottom: 1px solid #56536A;
	border-radius: 4px;
	background-color: #2D2D3F;
}

.but {
	width: 200px;
	min-height: 20px;
	display: block;
	background-color: #4a77d4;
	border: 1px solid #3762bc;
	color: #fff;
	padding: 9px 14px;
	font-size: 15px;
	line-height: normal;
	border-radius: 5px;
	margin: 0;
}