.dv{
	position:relative;
}
.pullDown{
	border:1px #66aef9 solid;
	border-top:medium none;
	list-style: none;
	margin:0px;
	padding:0px;
	background-color:white;
	position:absolute;
	top:35px;
	width:339px;
	z-index:2;
}
.pullDown li{
	line-height:20px;
}
.pullDown li span{
	display:none;
}
.ys{
	background-color:#7B68EE;
}
.ck{
	background-color:#C0FF3E;
}