li{
	list-style: none;
}
textarea{
    vertical-align: middle;
}
a:hover,a:focus{
    text-decoration:none;
}
.clearfix::after {
    clear: both;
    display: block;
    height: 0px;
    font-size: 0px;
    content: "閳ワ拷";
    visibility: hidden;
}
#sub{
	/* background:#eaeaea; */
	width:200px;
	position:absolute;
	top:0;
    bottom: 0;
    z-index: 3000;
    zoom: 1;
    height: auto;
    margin: 0;
    overflow: hidden;
    border:1px solid #eee;
}
#main{
	left:0px;
	/*width:100%;*/
	top:0;
    position:absolute;
    bottom: 0;
    right: 0;
    overflow: auto;
    padding-left:200px;
}
.subList .big li.bottomLi {
    height: 0;
    margin: 5px 0;
    font-size: 0;
    border-bottom: #dbdbdb solid 1px;
    overflow: hidden;
}
.subList .big li a:hover{
	background-color: #d8d8d8;
}
.subList .big li a {
    zoom: 1;
    -webkit-backface-visibility: hidden;
}
.subList a{
	color: #444;
}
.big{
	padding:0;
}

.i_triangle, .i_triangle_d, .i_triangle_g, .i_triangle_h, .i_triangle_hb, .i_c-search, .i_g-search, .i_addPeople, .i_r_yq2, .i_plusj, .i_minus, .i_note, .i_note_on, .i_print, .i_print2, .i_alarm, .i_atta, .i_star, .i_starM, .i_exc, .i_star_y, .i_starM_y, .i_t_move, .i_2trid, .i_cl_w, .i_r_yq, .i_2win, .i_bot, .i_bot_on, .i_u_close, .i_u_closered, .i_u_f5, .i_r_add, .i_t_right, .i_t_error, .i_r_jj, .i_r_wl, .i_r_rule, .i_r_auto, .i_r_tz, .i_tag_c, .i_updown, .i_leftr, .i_addjt, .i_lock, .i_loading, .i_tuij, .i_wenhao, .i_2tridd, .i_th0, .i_th1, .i_xgg, .i_del, .i_2win_y, .i_note_y, .i_fail_min, .i_warn_min, .i_ok_min, .i_garbage, .i_ok, .i_fail, .i_warn, .i_light, .i_warnB, .i_m_n, .i_m_o, .i_m_h, .i_m_nf, .i_m_yo, .i_m_yn, .i_m_ym, .i_m_yms, .i_m_yhf, .i_m_lost, .i_m_o2, .i_m_o2h, .i_m_sd, .i_m_sing, .i_m_hui, .i_m_d, .i_m_chui, .i_m_money, .i_m_rss, .i_m_moneyg, .i_m_rssg, .i_s_mail, .i_s_arr, .i_s_peo, .i_s_wep, .i_s_cloud, .i_s_sark, .i_s_sarkw, .i_free, .i_dxtips, .i_b_right, .searchWrap .searchRight, .i_s_space, .i_wjj, .i_wjj_o, .user_vip, .user_gray_vip, .i_setn, .i_mail_b, .i-mail_bNotice, .weathertips .i_close, .i_ymd, .btnMinOK, .btnMincancel, .m139, .readModel, .listModel, .readModelBlue, .listModelBlue, .i_jj, .i_jj_ico, .i_tagfor, .i_tagfor_n, .i_tagfor_nn, .i_tx, .i_tx_y, .i_tx_b, .i_tx_n, .i_tx_ng, .i_tx_nb, .i_close_min, .i_back, .i_wiebo, .i_tx_l, .i_tx_b_l, .i_tx_y_l, .i_peo, .i_voice, .toolBarPaging a.up, .toolBarPaging a.down, a.listViewed, a.cardViewed, .pagenum, .pagenum .pagenumtext, .gload .gloadbg, .pagenumBorder, .read-db, .g-up, .g-down, .i_addSigh, .i_addWhite, .i_newsL, .i_newsR, .i-phoneNotice, .i-phoneNoticeGray, .i-backTop, .i-tab, .error-tab, .add_integral, .i-writeNew, .i-wView, .i-newMenuMore, .i-fetion, .i-setup, .i-healthy, .i-user, .i_nWarn, .i_t_min, .i_t_zoomin, .i_t_zoomout, .i_add, .i_set, .i_dels, .i_delb, .i_calendars, .i_clouds, .i_clouds_on, .i_redDot, .mailLogo_new, .i_homeNew, .i_icok, .i_icokB, .i_attachmentS, .i_bigAttachmentS, .i_bigAttachmentC, .i_cloudS, .i-uploadS, .i_phoneS, .i_wImg, .i_wCutImg, .i-ipWord, .i_139Prompt, .i_c_vacation, .i_c_work, .i_cDo, .i_cDo2, .i_cDon, .i_cDoy, .i_question, .i_smsSearch, .i_s_sms, .i_s_smsCheck, .i_s_smsCross, .i_s_smsRe, .i_s_smsSet, .i_s_smsSend, .i_s_smsOrder, .i_s_smsLog, .i_s_smsCollect, .i_s_smsLover, .i_c_upB, .i_c_downB, .i-smile, .i-notice, .i-hotIco, .i-orderMailIco, .closeMin, .infoBox, .i_groupAdd, .i_groupIco, .i_groupAdd_s, .i_groupIco_s, .i_groupIco_add, .i_groupIco_out, .i_groupIco_pic, .i_groupIco_phiz, .i_groupIco_attachment, .i_groupIco_cloud, .i_groupIco_amend, .i_icoTime, .i_groupIco_ok, .i_groupIco_ck, .i_triangleBtn, .i_writeSMS, .i_writeMail, .i_writeAgain, .i_writeCharge, .i_writeBtnA, .i_writeBtnB, .writeOk_windowTop, .writeOk_tableTop, .i-tipsNetworkDisk, .i-createTime, .i-addPeople, .i-address, .i-meeting, .i-calendarLeft, .i-calendarRight, .i-calendarLeftNo, .i-calendarRightNo, .i-conSina, .i-conMail, .i-conMoney, .i-conTime, .i-conAddress, .i-conUser, .i-localUpload, .i-mobileUpload, .i-cloudUpload, .i-whirlLeft, .i-whirlRight, .i-notSongS, .i-skinTime, .i-imgUpload, .i-fileSendState, .i-fileSendPercentage, .i-lgAt, .i-lgPw, .i-sendFilePeo, .i_group2_leftTop, .i_musicIco, .i_m_light, .i_g_look, .i_g_down, .i_g_play, .i_c_del, .i_c_reply, .i_c_more, .i_c_join, .i_c_look, .i_c_ok, .i_icoChoose, .i_label_gt, .i-readMail, .i_icoQue, .i_icoAdd, .i_icoAddPeople, .i_icoAddPeopleB, .i-client, .i_setAdd, .i-mobile, .i_people, .i_people_b, .i_main_inbox, .i_money_blue, .i_service_pink, .i_clock_pink, .i_key_green, .i_sound_yellow, .i_iphones, .i_clock_pinked, .i_service_pinked, .i_key_greened, .i_sound_yellowed, .i_money_blueed, .i_booknote, .i_moble_blue, .i-msg, .i-mediaMsg, .i-fax, .i-netDisk, .i-addrList, .i-netDiskSm, .i-probation, .i-eml-n, .i-eml-nm, .i-msg-n, .i-msg-nm, .i-btn_roundYellow, .i-btn_orderYellow, .i-close, .i-message, .i-messageHV, .i-bill, .i-billHv, .i-kalendar, .i_map, .i_writeclock, .i_triangle_yl, .t-infoTable .arrow a, .i-checked, .i-checkbox, .i-loveBtn, .i-select-ok, .i-loveShutdown, .i-loveMail, .i-confirmBtn, .i_closeBtn, .i_close-Btn, .i-message-sm, .i-bill-sm, .i_new_notify, .i_new_plusj, .i_new_minus, .smsNetTip_top, .i_blue_attachment, .i_new_attachment, .i_new_attachment_s, .i_t_close, .item-close, .i_p_close, .i-users, .i-index-sbtn, .i_close, .closeAll, .i_read, .i_write, .i_add, .i_set, .i-content, .i-photo, .i-model, .iconPrev, .iconPrevBan, .iconNext, .iconNextBan, .i-mail-reminder, .up, .down, .down-gray, .up-gray, .i_triangle_r, .i-mark-complete, .iconCreateV3, .i-viped, .i-transmit, .i-transmited, .i-Clouding, .i-bulb, .i-major-v3, .i-star-v3, .i-unread-v3, .i-read-v3, .i-replied-v3, .i-forwarded-v3, .i-c-closed, .i-clockTime, .i-scrollbar, .i-scrollBar, .box-line, .alarm-frame .btm-line, .inputBox-down, .i-chooseMo, .i-chooseYet, .i-chooseYetOnly, .i-chooseRad, .i-starMo, .switch-shrink, .switch-expand, .i-starYet, .i-starClick, .i-btnclose, .i-btnClose, .i-starMo-b, .i-starYet-b, .i-starClick-b, .i-redWarn, .i-blueWarn, .i-unkown, .i-wait, .i-redWarn-min, .i-unkown-min, .i-tipsRemind-min, .i-wait-min, .i-v, .i-ved, .i-activy, .i-meet, .i-birthday, .i-baby, .i-day, .i-week, .i-month, .i-year, .i-countdown, .i-Calendar, .i-remind, .i-upcoming, .i-subscribe, .i-group, .i-squre, .i-calendar-news, .i-vipmail, .i-starmail, .i-domail, .i-sevicemail, .i-bookmail, .i-bill, .i-serve, .i-notice, .i-sensitize, .i-extend, .i-checkbox-selected, .i-checkbox-unselected, .i-fit, .i-fits, .i-viewa, .i-viewb, .i-viewc, .i-major, .i-urgent, .i-receiveFilePeo, .i-Clock, .i-Cloud, .i-Write, .i-Note, .i-Print, .i-Paper, .i-Launch, .i-Clocked, .i-Clouded, .i-Writed, .i-Noted, .i-true, .i-addition, .i-subduction, .i-c-addInfo, .i-c-close, .i-scan, .i-vip, .i-mail, .i-talk, .append, .back, .i-c-share, .i_tx_nn, .i_tx_nbb, .i_tx_nnon, .i_tx_nbbon, .i_tagfor_nn, .i_tagfor_tt, .i_tagfor_del, .i-listshow, .i-cardshow, .i-blankContent, .lbl-for-139chk, .lbl-for-139checked, .i-triangle-down, .i-triangle-right, .icon-mailG, .icon-contact, .icon-calendarG, .icon-shareG, .icon-closed, .icon-inspect, .icon-redDot, .newLead-box1-close, .i-additioned, .i-subductioned, .i-newsmall, .i-newbig, .tips .tipsBottom, .tips .tipsLeft, .tips .tipsRight, .tips .tipsTop, .tips .tipsTop2, .tips .tipsBottom2, .tips .tipsTop3, .tips .tipsTop4, .tips .tipsTop5, .tips .tipsBottom3, .tipsTopblue, .tips .tipsRight-small, .tipsOther .tipsBottom, .tipsOther .tipsLeft, .tipsOther .tipsRight, .tipsOther .tipsTop, .icon-featured-app, .icon-whatis, .icon-unreadBlue, .icon-Aglyph, .i-writeList-p, .i-iphone, .i-man, .i_s_att, .i_toolBarEmpty, .i-selectMo, .i-selectYet, .switchOn, .switchOff, .release-link, .i_icoPre, .i_icoNext, .i-sequenceorder, .i-descendingorder, .i-currentSession, .i-doubts, .i-temporary, .i-brooch, .i-edit, .dominance_a .closing, .dominance_a .opening, .dominance_a .night, .closingbtn, .openingbtn, .vip-mail-gicon, .normal-mail-gicon, .stranger-mail-gicon, .parcel-mail-gicon, .subscribe-mail-gicon, .mobile-bill-gicon, .domestic-services-gicon, .notifications-gicon, .promotion-mail-gicon, .vip-mail-icon, .normal-mail-icon, .stranger-mail-icon, .parcel-mail-icon, .subscribe-mail-icon, .mobile-bill-icon, .domestic-services-icon, .notifications-icon, .promotion-mail-icon, .icon-triangle, .icon-right, .icon-drop, .revision-box1-close, .revision-box2-close, .revision-box3-close, .revision-box4-close, .i-Member, .i-Right, .write-link .button_triangle, .i-OrderStatus1, .i-OrderStatus2, .i-OrderStatus3, .i-imperialcrown, .i-limitfree, .i-mymeeting, .i_successfully, .bubblePop .TriangleBottom, .bubblePop .TriangleLeft, .bubblePop .TriangleRight, .bubblePop .TriangleTop, .i-addTo, .i-icoclose, .i-MakeMoney_arrow1, .i-MakeMoney_arrow2, .i-horn, .i-meetingPlus, .i-meetingDel, .i-MakeMoney_tbarrow3, .i-MakeMoney_tbarrow4, .i-b-clock, .i-Bubble, .i-Villa, .i-feedIco, .i-setIco, .i-v3selected, .i-v3select, .i-radioIcon, .i-radioedIcon, .i-openarrows, .i-closearrows, .i-bluetriangle, .i-contactperson, .i-foldersearch, .i-timelimit, .i-annexsearch, .i-delete1, .i-delete2, .i-cancel1, .iconTimeMachine, .i_attaBlue, .i-sharedcalendar, .tips-upload-close, .i-setLoading, .i-integral, .i-lastsign, .i-appicon, .i-brooch, .i-mail-group, .i-interestsgray, .i-interestswhite, .i_lock-green, .i-cloose-use, .i-cloose-used, .i-cloose-v, .i-cloose-ved, .i_rocket, .tips-triangle, .i-attSendPercentage, .i-ask, .i-success-min, .i-attSendstart, .i-attSendfailure, .i-redWarnBig, .i-editwrite, .i-uploadbtn, .i-preset, .i-preDelete, .i-operation, .i_user_close {
    display: inline-block;
    vertical-align: middle;
    background: url(../mail/images/global_v3_24.png) no-repeat 0 0;
    /*_background: url(../../images/global/global_v3.png) no-repeat 0 0;*/
    overflow: hidden;
}
.subList a .user_vip, .subList a .i-orderMailIco, .subList a .i_cDon, .subList a .i_m_money, .subList a .i_m_rss {
    margin-right: 8px;
    vertical-align: -2px;
    position: relative;
    top: -1px;
}
.user_vip {
    width: 12px;
    height: 12px;
    background-position: -300px -174px;
}
.subList .i-starmail, .subList .i_starM_y, .subList .i_starM {
    position: relative;
    margin-top: -4px;
    /*_margin-top: 1px;*/
    margin-left: -1px;
    margin-right: 7px;
    /*_vertical-align: baseline;*/
}
.i_starM_y {
    width: 14px;
    height: 14px;
    background-position: -261px -371px;
}
.i_m_money {
    width: 14px;
    height: 15px;
    background-position: -175px -151px;
}
.subList a .i_m_money {
    margin-right: 6px;
    vertical-align: middle;
}
.i_m_rss {
    width: 14px;
    height: 10px;
    background-position: -200px -152px;
}
.subList a .i_cDon, .subList a .i_m_rss {
    margin-right: 7px;
}
.i-mymeeting {
    width: 14px;
    height: 12px;
    background-position: -420px -950px;
}
.subList a .i-mymeeting {
    margin-right: 6px;
}
.tab-lc, .tab-rc, .mainTop .closeAll, .mainTop .i_close, .s-s-btn, .i_write, .i_read, .i_comm, .i_funtion, .i_add, .i_minus2, .i_plus, .i_set, .i-set, .i_iphone, .i_sj, .mailLogo, .newwlogo, .i_xiax, .i_xias, .i_sendSms, .i_netDisk, .i-index-sbtn, .i-users, .i-create, .i-birthday, .i-find, .createList_span.on .i-birthday, .createList_span.on .i-create, .createList_span.on .i-find, .i-addr-d, .i-addr-e, .i-newspaper, .i-apply, .i-fav, .i-cdSet, .i-idex, .i-paper, .i-apCenter, .i-clamy, .all-file, .i-doc, .i-img, .i-mic, .i-mov, .i-share, .i-myShare, .i-c139, .i-clamp, .i-tank, .i-recycle, .i-pc, .i-tool, .i-addr-p, .i-addr-g, .addr-p-tab li.on .i-addr-p, .addr-p-tab li.on .i-addr-g, .i-notice, .i-subscription, .small .i_dels, .big .i_dels, .clientLink .secEr, .clientLink .secFl, .clientdownLoad .clientLink:hover .secEr, .secFlag, .infoBox, .newMenuMore.focus .infoBox, .tips .tipsTop5, .i_delb, .i-groupCreate, .i-hot, .i-center, .i-magazine, .i-youhui, .i-dingyue, .dominance_a .opening, .dominance_a .closing, .dominance_a .night, .i-upcoming {
    background: url(../mail/images/bg.png) no-repeat;
    /*_background: url(../../images/skin/lightblue/bg_8.png) no-repeat;*/
}
.i_dels {
    width: 13px;
    height: 14px;
    background-position: -169px -305px;
}
.small .i_dels, .big .i_dels {
    background-position: -482px -136px;
}
.subList a .i_dels {
    position: absolute;
    top: 8px;
    right: 14px;
    cursor: pointer;
}
.i_add {
    width: 12px;
    height: 12px;
    background-position: 2px -114px;
}
/*.subList a .i_add {
    position: absolute;
    top: 6px;
    right: 31px;
    cursor: pointer;
}*/
.subList a .i_add {
    position: absolute;
    top: 9px;
    right: 31px;
    width: 12px;
    height: 12px;
    background-position: 2px -114px;
    cursor: pointer;
}
.i_set, .i-set {
    width: 12px;
    height: 12px;
    background-position: -53px -115px;
}
.subList .i_set {
    position: absolute;
    top: 9px;
    right: 14px;
    z-index: 2;
    width: 12px;
    height: 12px;
    background-position: -53px -115px;
    cursor: pointer;
}
i {
    display: inline-block;
}
.triangle {
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    border-style: solid;
}
.t_blackRight {
    border-width: 4px 0 4px 4px;
    border-color: transparent transparent transparent #6e6e6e;
}
.subList a .triangle {
    position: absolute;
    top: 11px;
    top: 11px\9;
    /*_top: 10px;*/
    left: 4px;
    cursor: pointer;
}
.subList a .t_blackRight {
    left: 14px;
    border-color: transparent transparent transparent #6e6e6e;
}
.subList a .t_blackRight {
    border-color: transparent transparent transparent #888;
}
.readWrite {
    position: relative;
    zoom: 1;
    z-index: 9;
    width: 172px;
    height: 28px;
    margin: 7px auto 0;
    border: 1px solid #e4e4e4;
    background-color: #fff;
    overflow: hidden;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.readWrite {
    background-color: #f1f7fc;
    border: 1px solid #b9d0e5;
}
.writeBtn, .redBtn, .commBtn {
    float: left;
    display: block;
    width: 68px;
    height: 28px;
    line-height: 28px;
    padding-left: 16px;
    font-size: 14px;
    overflow: hidden;
    cursor: pointer;
}
.readWrite a {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    color: #1e5c95;
    cursor: pointer;
}
.readWrite a {
    color: #336493;
}
.readWrite .writeBtn,.readWrite .redBtn {
    float: left;
    display: block;
    width: 68px;
    height: 28px;
    padding-left: 16px;
    overflow: hidden;
    cursor: pointer;
}
.i_read {
    width: 16px;
    height: 16px;
    background-position: 0 -96px;
}
.writeBtn i, .redBtn i, .commBtn i {
    margin-right: 9px;
}
.readWrite a i {
    width: 17px;
    height: 17px;
    margin: 5px 6px 4px 0;
    vertical-align: top;
    cursor: pointer;
}
.i_write {
    width: 17px;
    height: 17px;
    background-position: 0 -76px;
}
.readWrite .i_read {
    margin-right: 7px;
}
.subList .big li a:hover {
    text-decoration: none;
    background-color: #f5f5f5;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}
.subList .big li a:hover i, .createList_ul .createList_li a:hover i {
    -moz-animation: scaleIco .3s linear;
    -webkit-animation: scaleIco .3s linear;
    -webkit-transform-style: preserve-3d;
    animation: scaleIco .3s linear;
}
@-webkit-keyframes scaleIco {
    0% {
        -webkit-transform: scale(.8)
    }

    100% {
        -webkit-transform: scale(1)
    }
}

@-moz-keyframes scaleIco {
    0% {
        -moz-transform: scale(.8)
    }

    100% {
        -moz-transform: scale(1)
    }
}

@keyframes scaleIco {
    0% {
        transform: scale(.8)
    }

    100% {
        transform: scale(1)
    }
}
.t_BlueDowm, .t_blackDown {
    border-width: 4px 4px 0 4px;
    border-color: #6e6e6e transparent transparent transparent;
    _border-left-color: white!important;
    _border-right-color: white!important;
    _filter: chroma(color='white')!important;
}
.t_blackDown {
    border-width: 4px 4px 0 4px;
    border-color: #6e6e6e transparent transparent transparent;
}
.subList a .t_blackDown {
    top: 12px;
    top: 14px\9;
    left: 13px;
    border-color: #6e6e6e transparent transparent transparent;
}

.subList a .t_blackDown {
    border-color: #888 transparent transparent transparent;
}
.subList .small {
    display: none;
    padding: 0;
    margin: 0;
}
.subList .small li {
    padding: 0;
    margin: 0;
    margin-top: 1px;
}
.subList .small .tagMin {
    float: left;
    margin-top: 7px;
    margin-right: 4px;
    vertical-align: baseline;
}
.redBtn {
    border-left: 1px solid #b9d0e5;
}
.rMList {
    margin-top: 2px;
    zoom: 1;
}
.new-readMail-left-con .rMList {
    padding-top: 3px;
    zoom: 1;
}
.rMList .rMr {
    margin-left: 48px;
    padding: 0 2px;
    word-wrap: break-word;
    line-height: 19px;
    word-break: break-all;
}
.new-readMail-left-con .rMList .rMr {
    line-height: 21px;
    margin-left: 54px;
    padding: 0 2px;
    word-wrap: break-word;
    word-break: break-all;
}
.rMList .rMl {
    float: left;
    line-height: 19px;
}
.new-readMail-left-con .rMList .rMl {
    float: left;
    display: inline;
    line-height: 21px;
}
.new-readMail-left-con {
    padding: 0 0 10px 8px;
}
.i_attachmentS {
    width: 16px;
    height: 14px;
    background-position: -170px -641px;
}
.attachmentAll_list {
    line-height: 22px;
    margin-top: 3px;
    margin-bottom: 6px;
}
.readMail {
    padding: 10px 260px 0 10px;
    zoom: 1;
    position: relative;
    margin-right: 0;
    z-index: 1;
}
.readMail .hTitle h2 {
    font-size: 16px;
    float: left;
    word-wrap: break-word;
    word-break: break-all;
    display: inline;
}

/*閸ョ偛顦插锟�*/

.ptb_10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.plr_10 {
    padding-left: 10px;
    padding-right: 10px;
}
.br4 {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.new-quick-reply {
    border: 1px solid #ced8e0;
    background-color: #f4f8fb;
}
.dropDown {
    display: inline-block;
    height: 23px;
    border: #ccc solid 1px;
    background-color: #fff;
    cursor: pointer;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.new-quick-reply .dropDown {
    width: 100px;
    height: 24px;
    border: 1px solid #bbb;
}
.dropDown .dropDownA {
    float: right;
    display: inline;
    width: 23px;
    height: 23px;
    padding-top: 0;
    margin-top: 0;
    text-align: center;
    overflow: hidden;
}
.dropDown .dropDownText {
    line-height: 23px;
    padding-left: 5px;
    color: #666;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.dropDown .dropDownA .i_triangle_d {
    width: 9px;
    height: 5px;
    padding: 0;
    margin: 9px 7px;
    vertical-align: top;
    background-position: -430px -1279px;
}
.readMailReplyMes {
    width: 100%;
    height: 16px;
    line-height:16px;
    color: #c5c5c5;
    word-wrap: break-word;
    word-break: break-all;
    resize: none;
    border: 0;
    padding: 4px 0;
    outline: 0;
    overflow: auto;
}
.readMailReplyMes-w {
    border: 1px solid #c5c5c5;
    border-top-color: #c6c6c6;
    border-right-color: #d9d9d9;
    border-bottom-color: #dadada;
    padding: 0 4px;
    margin-left: 5px;
}
.new-quick-reply .readMailReplyMes-w {
    border: 1px solid #bbb;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    outline: 0;
    transition: box-shadow .5s;
    -moz-transition: box-shadow .5s;
    -webkit-transition: box-shadow .5s;
    -o-transition: box-shadow .5s;
}

.icoT:hover, .icoTl:hover, .icoTr:hover, .icoTb:hover, .icoTd:hover, .icoAll:hover, .uploadBtn:hover, .icoSend:hover, .icoJump:hover {
    color: #444;
    border: 1px solid #a4a4a4;
    background: #d7d7d7;
    background: -moz-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#d7d7d7));
    background: -webkit-gradient(linear,0 0,0 100%,from(#f2f2f2),to(#d7d7d7));
    background: linear-gradient(#f2f2f2 0,#d7d7d7 100%);
}
.new-quick-reply .icoTb, .new-quick-reply .more-label {
    border: 1px solid #bbb;
}
.new-quick-reply .icoTb {
    height: 34px;
}
#quickreply_send {
    width: 73px;
    font-size: 12px;
    text-align: center;
}
#quickreply_send, #quickreply_send span {
    height: 24px;
    line-height: 24px;
}
.icoT span, .icoG span, .icoTb span, .icoTd span, .icoTl span, .icoTr span, .icoAll span, .icoDel span, .icoSend span, .icoJump span {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 14px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
}
.new-quick-reply .icoTb span {
    line-height: 34px;
}
#quickreply_send span {
    height: 24px;
    line-height: 24px;
}

.ml_5 {
    margin-left: 5px;
}
.icoT, .icoG, .icoTb, .icoTd, .icoTl, .icoTr, .icoAll, .icoDel, .icoSend, .icoJump {
    display: inline-block;
    height: 28px;
    padding: 0;
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    zoom: 1;
    cursor: pointer;
}
.icoT, .icoTb, .icoTd, .icoTl, .icoTr, .icoAll, .icoSend, .icoJump {
    color: #444;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #e8e8e8;
    background: -moz-gradient(linear,0 0,0 100%,from(#fafafa),to(#e8e8e8));
    background: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#e8e8e8));
    background: linear-gradient(#fafafa 0,#e8e8e8 100%);
}
.mialContent .mailText {
    border-top: #e8e8e8 solid 1px;
}
.mailText {
    padding: 6px 11px 6px 11px;
    line-height: 23px;
}
/*閸愭瑤淇婄粻锟�*/
.writeTable th {
    font-weight: 400;
    padding-right: 0;
}
.fn5 {
    padding: 9px 0 2px;
}
.b-bottom {
    border-bottom: 1px solid #e6e6e6;
}
.ta_l {
    text-align: left!important;
}
.p-Pad1 {
    padding-top: 0;
}

.fl {
    float: left;
    display: inline;
}
.b-bottom {
    border-bottom: 1px solid #e6e6e6;
}
.fn6 .writeTable {
    margin-top: 8px;
}
.writeTable {
    table-layout: fixed;
    width: 100%;
}
.writeTable {
    font-size: 14px;
}
.writeTable-txt .addrText {
    cursor: text;
    height: 18px;
    width: 25px;
    overflow: hidden;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}
.writeTable-txt .addrText-input {
    background: 0 0;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    width: 99%;
    float: left;
    padding: 0 0 0 4px;
    height: 21px;
    line-height: 21px;
    color: #222;
    font-weight: 700;
}
.writeTable-txt {
    background: 0 0;
    min-height: 21px;
    line-height: 21px;
}
#trst .addrText-input,#trcc .addrText-input{
    color: rgb(153, 153, 153);
    left: 3px;
    font-weight:100;
}
input[type=button], input[type=submit], input[type=reset], input[type=file], button {
    cursor: pointer;
    overflow: visible;
    width: auto;
}
#floatDiv input {
    width: 70px;
    font-size: 16px;
    cursor: pointer;
}
/*.i_attachmentS {
    width: 16px;
    height: 12px;
    background-position: -178px -322px;
}*/
.i_attachmentS {
    width: 16px;
    height: 14px;
    background-position: -170px -641px;
}
.write-link .i_attachmentS, .write-link .i-content, .write-link .i-photo, .write-link .i-model {
    position: absolute;
    left: 7px;
    top: 5px;
}
.i_map, .writeTable .addattra .i-ipWord, .writeTable .addattra .i_attachmentS, .writeTable .addattra .i_bigAttachmentS, .writeTable .addattra .i_cloudS, .writeTable .addattra .i_phoneS, .writeTable .addattra .i_wCutImg, .writeTable .addattra .i_wImg {
    margin-right: 4px;
    margin-top: -3px;
}
.writeTable .addattra .i_attachmentS {
    margin: -3px 6px 0 2px;
    position: static;
}
.writeTable .addattra {
    padding-right: 2px;
    color: #666;
    line-height: 20px;
}
.writeTable .addattra {
    display: inline-block;
}
#floatDiv {
    position: relative;
    margin-top: -20px;
    left: 0px;
    width: 70px;
    height: 23px;
    overflow: hidden;
    z-index: 1;
    padding: 0 0 3px 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}
.write-link .button_triangle:hover {
    width: 17px;
    height: 16px;
    background-position: -73px -833px;
}
#attachmentSwitchIcon {
    height: 16px;
    margin-top: -2px;
}
.write-link .button_triangle {
    width: 17px;
    height: 16px;
    background-position: -94px -833px;
}
.addattra:hover {
    background: #5aaeef;
    color: #fff;
    border-radius: 4px;
}
.eidt-body {
    /*border: 1px solid #e6e6e6;*/
    position: relative;
    /*padding-top: 35px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 3px 3px #f5f5f5;
    -webkit-box-shadow: 0 0 3px 3px #f5f5f5;
    box-shadow: 0 0 3px 3px #f5f5f5;*/
}
.eidt-body-selected {
    border: 1px solid #97c5f0;
}
.eidt-content {
    position: relative;
    width: 100%;
    height: 100%;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}
.bottombtn {
    padding: 7px 10px 3px;
    font-size: 14px;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 18px;
    _position: absolute;
    background: #fff;
    height: 30px;
    /*border-right: 1px solid #dbdbdb;*/
    box-sizing:content-box;
    z-index:9999;
}
.toolBarUl {
    zoom: 1;
    float: left;
    padding:0;
}
.icoT, .icoG, .icoTb, .icoTd, .icoTl, .icoTr, .icoAll, .icoDel, .icoSend, .icoJump {
    display: inline-block;
    height: 28px;
    padding: 0;
    font-size: 14px;
    vertical-align: middle;
    overflow: hidden;
    zoom: 1;
    cursor: pointer;
}
.icoG, .icoDel {
    line-height: 28px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    border: 1px solid #00a513;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #00bd16;
    background: -moz-gradient(linear,0 0,0 100%,from(#00c417),to(#00b615));
    background: -webkit-gradient(linear,0 0,0 100%,from(#00c417),to(#00b615));
    background: linear-gradient(#00c417 0,#00b615 100%);
}
.toolBarUl a, .toolBarUl a span {
    height: 28px;
    _height: 27px;
    line-height: 28px;
}
.toolBarUl li {
    float: left;
    position: relative;
    z-index: 100;
}
#toobarBottom .send-btnTime .fz_12, #toobarBottom .send-btnTime span {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    /*vertical-align: top;*/
}
#showMoreOptions:hover, #signs:hover, .sendPsel:hover, .toolBarUl-li .send-btnTime:hover {
    color: #fff;
    background: #5aaeef;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.toolBarUl-li .send-btnTime {
    display: inline-block;
    height: 20px;
    padding: 0 4px;
    margin: 5px -2px 5px 10px;
}
#bottomSend:hover,#topSend:hover,#bottomSend:focus,#topSend:focus{
    color:#fff;
}

/*缁毖勶拷銉ゆ崲閸斺�虫禈閺嶏拷*/

.subList .big li a {
    position: relative;
    display: block;
    height: 28px;
    line-height: 28px;
    padding: 0 5px 0 26px;
    font-size: 14px;
    _zoom: 1;
}
.subList .small li a {
    height: 24px;
    line-height: 24px;
    padding-left: 25px;
    color: #444;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    zoom: 1;
}
.tagImport, .tagJJ {
    text-align: center;
}
.tag, .tagMin {
    border-right: 1px solid #390;
    word-break: break-all;
}
.tag-new, .tagMin, .yellowTips .btnG {
    vertical-align: middle;
}
.tagMin, .tagOn a {
    display: inline-block;
}
.tagMin {
    border-left: 1px solid #390;
}
.tagJJ, .tagJJ .tagBody {
    background-color: red;
    border-color: red;
}
.add-maybe h3, .add-maybe-p li span, .addr-ul-list em, .createList_li li span, .createList_li ul .on a, .createList_span a, .createList_span.on a, .createTime p, .group2_left .num, .group2_left .numN, .listMenu li a, .listMenu li a:hover, .listMenu li.on a, .listMenu li.on a:hover, .subList .small li a, .subList .small li a .tagText, .subList a, .subList a span, .subList a:hover {
    color: #444;
}
.subList .small .tagMin {
    float: left;
    margin-top: 7px;
    margin-right: 4px;
    vertical-align: baseline;
}
.tagBody, .tagMin .tagBody {
    border-top: 1px solid #390;
    border-bottom: 1px solid #390;
    background-color: #390;
    color: #fff;
}
.tagMin .tagBody {
    float: left;
    position: relative;
    margin: -1px 0;
    height: 10px;
    line-height: 10px;
    padding: 0 2px;
    width: 6px;
    overflow: hidden;
}
.i_jj {
    width: 2px;
    height: 7px;
    background-position: -5px -194px;
}
.tagImport .tagBody .i_jj, .tagJJ .tagBody .i_jj {
    margin: 1px 0 0 2px;
    float: left;
}
.boxhead{
    padding-top:44px;
}
#inboxDiv .new-main-topbar{
    position:fixed;
    background-color:#fff;
    z-index:9999;
}
.new-main-topbar {
    width: 100%;
    height: 44px;
    border-bottom: #e4e4e4 solid 1px;
    background-position: 0 -150px;
    background-repeat: repeat-x;
}
.ptblr_s1, .ptblr_s2 {
    padding: 7px 10px;
}
.toolBarUl_v3 {
    float: left;
    display: inline;
    zoom: 1;
    height: 30px;
}
.toolBarUl_v3 li {
    position: relative;
    /*z-index: 100;*/
    float: left;
}
.icoAll, .icoJump, .icoSend, .icoT, .icoTb, .icoTd, .icoTl, .icoTr {
    color: #444;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #e8e8e8;
    background: -moz-gradient(linear,0 0,0 100%,from(#fafafa),to(#e8e8e8));
    background: -webkit-gradient(linear,0 0,0 100%,from(#fafafa),to(#e8e8e8));
    background: linear-gradient(#fafafa 0,#e8e8e8 100%);
}
.icoAll span, .icoDel span, .icoG span, .icoJump span, .icoSend span, .icoT span, .icoTb span, .icoTd span, .icoTl span, .icoTr span {
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 14px;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
}
.p_relative {
    position: relative;
}
.mr_6 {
    margin-right: 6px;
}
.icoJump .i_triangle_d, .icoSend .i_triangle_d, .icoT .i_triangle_d, .icoTb .i_triangle_d, .icoTd .i_triangle_d, .icoTl .i_triangle_d, .icoTr .i_triangle_d {
    position: absolute;
    top: 0;
    width: 9px;
    height: 5px;
    margin: 12px 10px 11px 9px;
    background-position: -106px -1053px;
}
.icoTd span span .i_triangle_d {
    margin: 12px 10px 11px 6px;
}
.icoTd span {
    padding-right: 0;
    padding-left: 12px;
    overflow: hidden;
}
.icoTd span span, .icoTd:active span span, .icoTd:hover span span {
    display: inline-block;
    width: 22px;
    height: 28px;
    padding: 0;
    margin: 0 0 0 12px;
    text-align: left;
    vertical-align: top;
    border-left: #cbcbcb solid 1px;
}
.icoTl, .icoTl:hover {
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    /* border-radius: 4px 0 0 4px; */
}
.icoSend span, .icoT span, .icoTl span, .icoTr span {
    padding-left: 12px;
    padding-right: 25px;
}
.icoTr, .icoTr:hover {
    margin-left: -1px;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
/*閸ョ偛顦插Ο鈥虫健閸旂喕鍏橀柨锟�*/
.menuPop ul{
    padding:0;
    margin:0;
}
.menuPop li span.text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    _margin-top: 2px;
    color: #666;
}
.menuPop li {
    float: none;
    _zoom: 1;
    position: relative;
}
.menuPop li, .toolBarPaging a {
    vertical-align: top;
}
.menuPop li a {
    position: relative;
    display: block;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    margin: 0 6px;
    color: #666;
    overflow: hidden;
    _zoom: 1;
}
.menuPop {
    position: absolute;
    z-index: 1;
    width: 150px;
    padding: 6px 0;
    color: #666;
    font-size: 14px;
    border: 1px solid #cecece;
    background-color: #fff;
    -moz-animation: menus .2s ease-out;
    -webkit-animation: menus .2s ease-out;
    animation: menus .2s ease-out;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 5px rgba(206,206,206,1);
    -webkit-box-shadow: 0 0 5px rgba(206,206,206,1);
    box-shadow: 0 0 5px rgba(206,206,206,1);
}
.menuPop li a:hover {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.addr-table table tr.hover td, .dayArea .dayAreaTable tr.on td, .dayArea .dayAreaTable tr:hover td, .menuPop li a:hover, .tab-top li a:hover, .tab-ullist .tab-list li.on, .tab-ullist .tab-list li.sel {
    background-color: #eaf4fd;
}
.menuPop li a:hover, .newLogoInfo .newLogoInfo_li .menuPop a:hover, .tab-list li.on, .tab-menu li a:hover {
    background-color: #f5f5f5;
}
@-webkit-keyframes menus {
    0% {
        -webkit-transform: translateY(-2px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateY(0);
        opacity: 1
    }
}
@-moz-keyframes menus {
    0% {
        -moz-transform: translateY(-2px);
        opacity: 0
    }
    100% {
        -moz-transform: translateY(0);
        opacity: 1
    }
}
@keyframes menus {
    0% {
        transform: translateY(-2px);
        opacity: 0
    }
    100% {
        transform: translateY(0);
        opacity: 1
    }
}
.menuPop .line {
    height: 0;
    line-height: 0;
    padding-top: 6px;
    margin-bottom: 6px;
    margin-left: 0;
    margin-right: 0;
    font-size: 0;
    border-bottom: 1px solid #d8d8d8;
    overflow: hidden;
}
.focus-on {
    color: #333;
    min-height: 50px;
    height: auto!important;
    height: 50px;
}
#htmlEdiorContainer{
    padding-bottom:40px;
}
.n_bgi{
    background-image:url('../mail/images/mark.png');
}
.n_bg{
    padding:6px;
}
.n_bg2{
    padding:7px;
}
.n_red_bg{
    background-position:12px -1px;
    margin-right:5px;
}
.n_blu_bg{
    background-position:-15px -1px;
    margin-right:5px;
}
.n_star_bg{
    background-position: 0 0;
    margin-right:4px;
}
.activeMenu{
    background-color: #f5f5f5;
}
/*邮箱联系人*/
.addrBase {
    height: 19px;
    line-height: 19px;
    border: 1px solid #aecae5;
    background: #e0edf9;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.addrBaseWarn {
    border: 1px solid #e93838;
    background: #ffe8e8;
    margin-right: 5px;
}
.addrBase {
    /* float: left; */
    display: inline-block;
    color: #666;
    white-space: nowrap;
    vertical-align: middle;
    zoom: 1;
}
.writeLetter .addrBase {
    margin-bottom: 3px;
    margin-right: 4px;
}
.addrBase span, .addrBase b {
    height: 19px;
    line-height: 19px;
    padding: 0;
    font-size: 12px;
    vertical-align: top;
}
.addrBase b {
    font-weight: 400;
    color: #46719a;
    font-size: 14px;
}
.quickdelete {
    display: inline-block;
    width: 20px;
    /*height: 19px;*/
    border-left: 1px solid #e0edf9;
}
.addrBaseWarn .quickdelete {
    border-left: 1px solid #ffe8e8;
}
.item-close {
    width: 10px;
    height: 9px;
    background-position: -457px -605px;
}
.addrBaseWarn .item-close {
    background-position: -443px -605px;
}

.quickdelete .item-close, .btnOther .quickdelete .item-close {
    margin: -3px 0 0 4px;
}
.addrBase .addrBase_con {
    /*display: inline-block;*/
    height: 19px;
    line-height: 19px;
    padding: 0 5px 0 4px;
    cursor: pointer;
}
.writeTable-txt .addrText-input {
    background: 0 0;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    width: 99%;
    float: left;
    padding: 0 0 0 4px;
    height: 21px;
    line-height: 21px;
    color: #222;
    font-weight: 700;
}
.writeTable-txt .addrText {
    cursor: text;
    height: 18px;
    width: 25px;
    overflow: hidden;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
}
.fn0 {
    padding: 9px 0 2px;
}
#ccContainer .RichInputBox, #trBcc .RichInputBox {
    margin-top: 8px;
}
  #li_contact>ul{
                display:none;
                /*text-align:right;*/
               }
 
                 #li_contact>ul li a:hover{
                    text-decoration: none;
                    background-color: #f5f5f5;
                    -moz-transition-duration: .3s;
                    -webkit-transition-duration: .3s;
                    -o-transition-duration: .3s;
                    transition-duration: .3s;
                 }
                 #li_contact>ul li a{
                  font-size:12px;
                 }
                 
   /*new style for contact*/
   #searchContactsBtn {
    outline: 0;
}
.searchContact .searchContactText {
    height: 14px;
    line-height: 14px;
    padding: 10px 10px;
    border: 1px solid #c5c5c5;
    border-bottom-color: #d9d9d9;
    color: #666;
    float: left;
    border-right: none;
}
.searchContact .searchContactText {
    width: 146px;
}
    .new-main-topbar .searchContactT .searchContactText {
    border-radius: 10px 0 0 10px;
    color: #c5c5c5;
    font-size: 12px;
}
.new-main-topbar .searchContact .searchContactText {
    height: 20px;
    line-height: 20px;
}
.searchContact {
    position: relative;
    zoom: 1;
    padding: 3px 7px;
}
.new-main-topbar .searchContactT {
    padding: 0;
    margin: 14px 0 0 10px;
    border-bottom: none;
}
.searchContactT .searchContactBtn {
    border-radius: 0 10px 10px 0;
    font-size: 12px;
    padding-top: 3px;
}
.searchContactBtn {
    cursor: pointer;
    width: 22px;
    height: 22px;
    background: #fff;
    overflow: hidden;
    float: left;
    border: 1px solid #c5c5c5;
    border-bottom-color: #d9d9d9;
    border-right-color: #d9d9d9;
    border-left: none;
}
.contactWrap a{
    position: relative;
    display: block;
    height: 28px;
    line-height: 28px;
    padding: 0 5px 0 15px;
    font-size: 14px;
    color:#000;
}
.contactWrap a:hover{
    text-decoration: none;
    background-color: #f5f5f5;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
}
/*.concation_list a>i{
    font-size: 12px;
    top: 0px;
}*/
.concation_list>li>ul{
    display:none;
}
.concation_list>li>ul>li>a,.contactList ul.searchList a{
    font-size: 12px;
    text-indent: 1.5em;
    color:#000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.contactWrap{
    overflow-x:hidden;
    overflow-y:auto;
}

.tringle{
    display:inline-block;
    width:0;
    height:0;
}
.tringleTor{
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000;
}
.tringleTot{
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #000;
}
blockquote {
    padding: 0;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: none;
}