*:after,*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	color: #91cfa1;
	text-decoration: none;
}

a:hover {
	color: red;
	font-size: 36px;
	cursor: pointer;
}

.dr-menu {
	width: 100%;
	max-width: 400px;
	min-width: 300px;
	position: relative;
	font-size: 1.3em;
	line-height: 2.5;
	font-weight: 400;
	color: #60a773;
	padding-top: 0em;
}

.side {
	float: left;
/* 		width: 340px; */
	height: 98%;
	padding-right: 10px;
	/* 	min-width: 320px; */
	margin: 0px 5px 5px 5px;
	box-shadow: 1px 0 rgba(0, 0, 0, 0.1);
}

#centrer {
	border:double;
	border-color:red;
	position:absolute;
	top:40%;
	left:30%;
	width: 500px;
	height: 80px;
	/*     opacity: 1; */
}
